*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(65, 65, 65);
  font-family: Arial, Helvetica, sans-serif;
}

/*header*/
header{
  background-color: #305fe2;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 82px;
}

.container-nav{
  display: flex;
  align-items: center;  
}

.special{
  padding: 15px;
}

.logo{
  width: 250px;
}

.nav ul{
  display: flex;
  justify-content: space-evenly;
  width: 750px;
  list-style-type: none;
  }

  .login{
    display: flex;
    width: 250px;
    justify-content: flex-end;
  }

  .botton-log{
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    color:black;
    font-weight: bold;
  }

/*jumbotron*/
.jumbotron{
  background-image: url(../img/jumbo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
  display: flex;
  justify-content: center;
}

.welcome {
  height: 415px;
  width: 650px;
}

h1{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  margin:70px 0;
}

.descrizione{
  color: white;
  text-align: center;
  justify-content: center;
  font-size: 16px ;
  line-height: 25px;
}

.btn{
  justify-content: center;
  display: flex;
  width: 100%;
  margin: 50px 0px;
}

.button{
  padding: 20px 30px;
  border-radius: 40px;
  font-weight: bold;
}

.left{
  margin-right: 20px;
  background-color: white;
}

.right{
  background-color: rgb(51, 51, 51);
  color:white;
}

/*Container principali*/
.container1{
  background-color: rgb(233, 233, 233);
  height: 624px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container2{
  background-color: #f6f6f6;
  height: 624px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container3{
  background-color: rgb(233, 233, 233);
  height: 624px;
  display: flex;
  align-items: center;
  justify-content: center;
}


h2{
  text-align: left;
  width: 290px;
  font-size: 2.5rem;
  margin: 50px 50px;
  font-weight: 700;
}

#descrizione-frog{
  text-align: left;
  width: 280px;
  margin: 50px 50px ;
  font-size: 16px ;
  line-height: 25px;
  font-weight: 600;
}

/* Container Big */
.container-big{
  background-color: #f6f6f6;
  height: 1100px;
  justify-content: center;
}

h3{
  text-align: center;
  font-size: 2.5rem;
  padding: 50px 0 30px 0;
  font-weight: 700;
}

#descrizione-tecnologia{
  text-align: center;
  font-size: 16px ;
  line-height: 25px;
  font-weight: 600;
  width: 870px;
  margin:auto;
}

.videocall{
  display: flex;
  justify-content: center;
}

.call-img{
  width:1050px;
}

.avventura{
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
  font-size: 1.8rem;
  font-weight: bold;
  margin: auto;
  padding: 50px ;
  text-align: center;
}

.azzurro{
  background-color: #8ea1e1;
  color: white;
  width: 250px;
  justify-content: center;
  padding: 20px 30px;
  border-radius: 40px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* FOOTER */
footer {
  background-color: #24272A;
  color: white;
  padding-top: 100px;
}

.footer-top{
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #7289DA;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

/* Extra */
.talk{
  color: #7289DA;
  margin-bottom: 30px;
  padding-top: 0 ;
  text-align: left;
}

h4{
  color: #7289DA;
  margin-bottom: 15px;
}

li{
  padding-bottom: 15px;
  list-style: none
}

.social{
  width: calc(100% / 3);
  padding-right: 100px;
}

.ita{
  margin-bottom: 30px;
  font-size: .8rem;
}

.ita img{
  width: 25px;
}

.i{
  font-size: .7rem;
}

.icons i{
  margin-right: 15px;
  font-size: 1.2rem;
}

.menu{
  width: calc(100% / 6);
}

.logo img{
  width: 150px;
}

.registrati{
  background-color: #8ea1e1;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
}